<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.board.mapper.TblReplyMapper">
	
	<select id="getReplyList" resultType="kr.board.entity.TblReply">
	  SELECT *
	  FROM tblReply
	  WHERE idx = #{idx}
	  ORDER BY rno ASC
	</select>
	
	<insert id="insertReply" parameterType="kr.board.entity.TblReply">
		INSERT INTO TBLREPLY (IDX
							, RNO
							, CONTENT
							, WRITER
							, REGDATE) 
		VALUES (#{idx}
			 , TBLREPLY_SEQ.NEXTVAL
			 , #{content}
			 , #{writer}
			 , SYSDATE)
	</insert>
	
</mapper>
